{% extends 'BerkmanAtlasViewerBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'openlayers/theme/default/style.css'
                   '@BerkmanAtlasViewerBundle/Resources/public/css/ui-darkness/jquery-ui-1.8.16.custom.css'
                   '@BerkmanAtlasViewerBundle/Resources/public/css/atlas_show.css'
                   'openlayers/theme/default/google.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script src="../../../openlayers/OpenLayers.js"></script>
    <script src="http://maps.google.com/maps/api/js?v=3.5&amp;sensor=false"></script>
    <script>
        var pages = [
        {% for page in entity.pages %}
            {
                id: "{{ page.id }}",
                name: "{{ page.name }}",
                metadata: {{ page.metadata|json_encode|raw }},
                bounds: {{ page.boundingBox|json_encode|raw }},
                minZoom: {{ page.minZoomLevel }},
                maxZoom: {{ page.maxZoomLevel }}
            }, 
        {% endfor %}
        ],
        atlasId = {{ entity.id }};
    </script>
    {% javascripts 
                   '@BerkmanAtlasViewerBundle/Resources/public/js/atlas_show.js'
                   '@BerkmanAtlasViewerBundle/Resources/public/js/jquery-ui-1.8.16.custom.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}

{% block body %}
<div id="map"></div>
<div id="metadata">
    <dl>
        <dt>Name</dt>
        <dd>{{ entity.name }}</dd>

        <dt>Description</dt>
        <dd>{{ entity.description }}</dd>
    </dl>

    <ul class="record_actions">
        <li>
            <a href="{{ path('atlas') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('atlas_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>
            <form action="{{ path('atlas_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
</div>

{% endblock body %}
